.img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title{
  font-size: 48px;
  font-weight: 400;
  margin: 10px;
}

.museo{
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
}

.date{
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.description{
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
}

.link{
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  text-decoration-line: none;
  color: black;
}

.container{
  border: rgba(0, 0, 0, 0.16) 1px solid;
  padding: 50px;
}
