.img{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title{
  font-size: 40px;
  margin: 10px;
  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.museo{
  font-size: 24px;
  margin: 10px;
  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

.date{
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
  font-style: italic;
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.description{
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.link{
  text-decoration-line: none;
  color: black;
}

.container{
  border: rgba(0, 0, 0, 0.16) 1px solid;
  padding: 50px;
}
