.container-desktop {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px;
  justify-content: center;
}

.container-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
