<app-nav-bar></app-nav-bar>
<div class="city-dropdown">
  <label class="city-dropdown-label" for="city">Miasto</label>
  <select class="city-dropdown-input" id="city" [(ngModel)]="selectedCity" (change)="onCityChange($event)">
    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
  </select>
</div>

@if(isMobile){
  <div class="container-mobile">
    @for (event of response; track event.id){
      <app-event-box [event]="event"></app-event-box>
    }
  </div>
}
@else {
  <div class="container-desktop">
    <div class="row">
    @for (event of response; track event.id; let index = $index){
        @if(index % 3 == 0){
          <app-event-box [event]="event"></app-event-box>
        }
    }
    </div>
    <div class="row">
      @for (event of response; track event.id; let index = $index){
        @if(index % 3 == 1){
          <app-event-box [event]="event"></app-event-box>
        }
      }
    </div>
    <div class="row">
      @for (event of response; track event.id; let index = $index){
        @if (index % 3 == 2){
          <app-event-box [event]="event"></app-event-box>
        }
      }
    </div>
  </div>
}
